.App {
  background-color: #282c34;
  height: 100vh;
}

.App-body {
  width: 1000px;
  margin: 0 auto;
  color: white;
}

.App-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 15px 0;
}

.App-header-title {
  font-size: 22px;
  margin: 0;
}

.input {
  display: block;
  width: 100%;
  margin-bottom: 15px;
}

.button {
  padding: 10px 15px;
  cursor: pointer;
}

